
#adminmenu #toplevel_page_skyroom-rooms .wp-menu-image img,
#adminmenu #toplevel_page_skyroom-settings .wp-menu-image img {
    width: 22px;
    padding-top: 6px;
}

.skyroom-logo-card {
    padding-top: 20px;
}

.submit-p *, .test_api-note * {
    vertical-align: middle !important;
}

.test_api-note {
    display: inline-block;
    margin-left: 10px;
}

.skyroom-error-wrapper {
}

.skyroom-error-img {
    width: 200px;
    margin: 0 auto;
    padding: 5em 20px 0;
}

.skyroom-error-img img {
    width: 100%;
    opacity: 0.2;
}

.skyroom-error-message {
    max-width: 450px;
    margin: 0 auto;
    font-size: .95rem;
    font-weight: bold;
    color: #505050;
    text-align: center;
}

.skyroom_page_skyroom-events .ajs-body {
    margin-right: -24px;
    margin-left: -24px;
}

.skyroom_page_skyroom-events .ajs-body table {
    border-collapse: collapse;
}

.skyroom_page_skyroom-events .ajs-body th, .skyroom_page_skyroom-events .ajs-body td {
    border: 1px solid #d9d9d9;
}

.skyroom-event-type {
    display: inline-block;
    padding: 0 12px;
    color: #fff;
    line-height: 23px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.skyroom-event-type-successful {
    background: #5abd4e;
}

.skyroom-event-type-failed {
    background: #dc5757;
}
